{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
    	<div class="panel-default">
			<div class="panel-heading">
				<div class="code">{{curl}}</div>
			</div>
		</div>
    </div>
</div>
<div class="row">
<div class="row">
    <div class="col-lg-12">&nbsp;</div>
</div>
    <div class="col-lg-offset-4 col-lg-6">
		<button
			class="btn btn-large btn-primary copy-button"
			id='copy-button-curl'
			data-clipboard-text="{{curl}}"
			title="installation command with curl">
				<span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
				Copy command
		</button>
		<button
			class="btn btn-large btn-primary copy-button"
			id='copy-button-sudo-curl'
			data-clipboard-text="{{sudoCurl}}"
			title="installation command with curl">
				<span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
				Copy sudo command
		</button>
    	<span class="normal" id="copyMessage"></span>
    </div>
</div>
{% endblock %}