{% extends 'layout.html' %}
{% block summary %}
    <p class="normal">nvm is great, but keeping nvm itself updated can be trouble some. nvm-latests site tries to help to make it eaiser</p>
{% endblock summary %}

{% block content %}
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
    	<div class="panel-default">
			<div class="panel-heading">
				<h3>Link to latest script</h3>
			</div>
			<div class="panel-body">
				<a href='/script'>Latest installation script</a>
			</div>
		</div>
    </div>
</div>
{% endblock %}